*
!bin
!configuration
!data/.gitignore
!docker/compose
!docker/catalog/
!docker/catalog/**
!docker/conf
!docker/dockerfiles
!docker/release.env
!docs
!logs
!lib/
!lib/**
!.github/
!.github/**
!tests/
!tests/**
!.gitignore
!.gitattributes
!.readthedocs.yaml
!lds
!lds.bat
!LICENSE
!README.md
