*
!bin
!configuration
!data/.gitignore
!docker/compose
!docker/conf
!docker/dockerfiles
!docker/release.env
!docs
!logs
!.github/
!.github/**
!tests/
!tests/**
!.gitignore
!.gitattributes
!.readthedocs.yaml
!lds
!lds.bat
!LICENSE
!README.md
